:root {
  --main-color: #007bff;
}
.sectionTitle {
  color: #007bff;
  font-size: 40px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card__title {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.05em;
}
.card__text {
  color: grey;
  letter-spacing: 0.05em;
}
.card__link {
  color: var(--main-color);
}
i {
  color: var(--main-color);
}
.hero_red {
  background-color: red;
}
.hero_blue {
  background-color: #3f8ecf;
}
.hero {
  height: 300px;
  color: white;
}
.hero > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid--four {
  grid-template-columns: repeat(4, 1fr);
}
